<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ParsleyTests -->
      <package
            uri="http:///org/eclipse/emf/parsley/tests/models/ParsleyTests.ecore/0.1.0"
            class="org.eclipse.emf.parsley.tests.models.testmodels.TestmodelsPackage"
            genModel="model/ParsleyTests.genmodel"/>
   </extension>

</plugin>
