<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.eclipse.emf.parsley.ui.Examples" 
				  name="Emf Parsley Examples" 
				  parentCategory="org.eclipse.ui.Examples" />
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.eclipse.emf.parsley.project.Examples" 
				  name="Examples" 
				  parentCategory="org.eclipse.emf.parsley.wizards" />
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.MailExampleWizard" 
			name="Emf Parsley Mail RCP Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Mail RCP implemented with Emf Parsley</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.MailExampleWizard" 
			name="Emf Parsley Mail RCP Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Mail RCP implemented with Emf Parsley</description>
		</wizard>
	</extension>
		<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.FirstExampleWizard" 
			name="Emf Parsley First Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley First Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.FirstExampleWizard" 
			name="Emf Parsley First Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley First Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.E4ExampleWizard" 
			name="Emf Parsley Eclipse 4 Part Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley Eclipse 4 Part Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.E4ExampleWizard" 
			name="Emf Parsley Eclipse 4 Part Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley Eclipse 4 Part Example</description>
		</wizard>
	</extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
          class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
          icon="icons/genproject.gif"
          id="org.eclipse.emf.parsley.examples.ViewsExamples"
          name="Emf Parsley Views Examples"
          project="true">
       <description>
          Emf Parsley Views Examples
       </description>
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
          class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
          icon="icons/genproject.gif"
          id="org.eclipse.emf.parsley.examples.ViewsExamples"
          name="Emf Parsley Views Examples"
          project="true">
       <description>
          Emf Parsley Views Examples
       </description>
    </wizard>
 </extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.CdoServerExampleWizard" 
			name="Emf Parsley Cdo Server Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley Cdo Server Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.CdoServerExampleWizard" 
			name="Emf Parsley Cdo Server Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley Cdo Server Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.CdoExampleWizard" 
			name="Emf Parsley Cdo Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley Cdo Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.CdoExampleWizard" 
			name="Emf Parsley Cdo Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley Cdo Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.RapTPExampleWizard" 
			name="Emf Parsley Rap Target Platform Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley Rap Target Platform Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.RapTPExampleWizard" 
			name="Emf Parsley Rap Target Platform Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley Rap Target Platform Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.RapCdoExampleWizard" 
			name="Emf Parsley Rap Cdo Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley Rap Cdo Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.RapCdoExampleWizard" 
			name="Emf Parsley Rap Cdo Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley Rap Cdo Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.RapExampleWizard" 
			name="Emf Parsley Rap Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley Rap Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.RapExampleWizard" 
			name="Emf Parsley Rap Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Emf Parsley Rap Example</description>
		</wizard>
	</extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.MailExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.model.zip"
               description="Mail Model"
               name="org.eclipse.emf.parsley.examples.mail.model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.rcp.zip"
               description="Mail RCP"
               name="org.eclipse.emf.parsley.examples.mail.rcp">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.accountsview.zip"
               description="Mail Accounts View"
               name="org.eclipse.emf.parsley.examples.mail.accountsview">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.mailsview.zip"
               description="Mail Emails View"
               name="org.eclipse.emf.parsley.examples.mail.mailsview">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.messageview.zip"
               description="Mail Message View"
               name="org.eclipse.emf.parsley.examples.mail.messageview">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.unifiedfoldersview.zip"
               description="Unified Folders View"
               name="org.eclipse.emf.parsley.examples.mail.unifiedfoldersview">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.product.feature.zip"
               description="Mail Product Feature"
               name="org.eclipse.emf.parsley.examples.mail.product.feature">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.FirstExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.examples.library.zip"
               description="Library Model"
               name="org.eclipse.emf.examples.library">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.examples.library.edit.zip"
               description="Library Edit Plugin"
               name="org.eclipse.emf.examples.library.edit">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.firstexample.zip"
               description="Emf Parsley First Example"
               name="org.eclipse.emf.parsley.examples.firstexample">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.ViewsExamples">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.views.zip"
               description="Emf Parsley Views Examples"
               name="org.eclipse.emf.parsley.examples.views">
         </projectDescriptor>
      </example>
   </extension>
	<extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.E4ExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.eclipse4.zip"
               description="Eclipse 4 Application and Launch"
               name="org.eclipse.emf.parsley.examples.eclipse4">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.eclipse4.parsleypart.zip"
               description="Eclipse 4 View"
               name="org.eclipse.emf.parsley.examples.eclipse4.parsleypart">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.eclipse4.product.feature.zip"
               description="Eclipse 4 Product"
               name="org.eclipse.emf.parsley.examples.eclipse4.product.feature">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.CdoServerExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.server.zip"
               description="Emf Parsley Cdo Server Example"
               name="org.eclipse.emf.parsley.examples.cdo.server">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.CdoExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.model.zip"
               description="Emf Parsley Cdo Model Example"
               name="org.eclipse.emf.parsley.examples.cdo.model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.rcp.zip"
               description="Emf Parsley Cdo Rcp Example"
               name="org.eclipse.emf.parsley.examples.cdo.rcp">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.treeform.zip"
               description="Emf Parsley Cdo TreeForm Example"
               name="org.eclipse.emf.parsley.examples.cdo.treeform">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.product.feature.zip"
               description="Emf Parsley Cdo Product Feature Example"
               name="org.eclipse.emf.parsley.examples.cdo.product.feature">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.RapTPExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.rap.targetplatform.zip"
               description="Emf Parsley Rap Target Platform Example"
               name="org.eclipse.emf.parsley.examples.rap.targetplatform">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.RapCdoExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.model.zip"
               description="Emf Parsley Cdo Model Example"
               name="org.eclipse.emf.parsley.examples.cdo.model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.rap.zip"
               description="Emf Parsley Rap Cdo Example"
               name="org.eclipse.emf.parsley.examples.cdo.rap">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.treeform.zip"
               description="Emf Parsley Cdo TreeForm Example"
               name="org.eclipse.emf.parsley.examples.cdo.treeform">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.RapExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.rap.model.zip"
               description="Emf Parsley Rap Model Example"
               name="org.eclipse.emf.parsley.examples.rap.model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.rap.ui.zip"
               description="Emf Parsley Rap Ui Example"
               name="org.eclipse.emf.parsley.examples.rap.ui">
         </projectDescriptor>
      </example>
   </extension>
</plugin>
