<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.eclipse.emf.parsley.ui.Examples" 
				  name="EMF Parsley Examples" 
				  parentCategory="org.eclipse.ui.Examples" />
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.eclipse.emf.parsley.project.Examples" 
				  name="Examples" 
				  parentCategory="org.eclipse.emf.parsley.wizards" />
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.MailExampleWizard" 
			name="EMF Parsley Mail RCP Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Mail RCP implemented with EMF Parsley</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.MailExampleWizard" 
			name="EMF Parsley Mail RCP Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Mail RCP implemented with EMF Parsley</description>
		</wizard>
	</extension>
		<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.FirstExampleWizard" 
			name="EMF Parsley First Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley First Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.FirstExampleWizard" 
			name="EMF Parsley First Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley First Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.E4ExampleWizard" 
			name="EMF Parsley Eclipse 4 Part Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley Eclipse 4 Part Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.E4ExampleWizard" 
			name="EMF Parsley Eclipse 4 Part Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley Eclipse 4 Part Example</description>
		</wizard>
	</extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
          class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
          icon="icons/genproject.gif"
          id="org.eclipse.emf.parsley.examples.ViewsExamples"
          name="EMF Parsley Views Examples"
          project="true">
       <description>
          EMF Parsley Views Examples
       </description>
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
          class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
          icon="icons/genproject.gif"
          id="org.eclipse.emf.parsley.examples.ViewsExamples"
          name="EMF Parsley Views Examples"
          project="true">
       <description>
          EMF Parsley Views Examples
       </description>
    </wizard>
 </extension>
  <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
          class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
          icon="icons/genproject.gif"
          id="org.eclipse.emf.parsley.examples.EditorsExamples"
          name="EMF Parsley Editors Examples"
          project="true">
       <description>
          EMF Parsley Editors Examples
       </description>
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
          class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
          icon="icons/genproject.gif"
          id="org.eclipse.emf.parsley.examples.EditorsExamples"
          name="EMF Parsley Editors Examples"
          project="true">
       <description>
          EMF Parsley Editors Examples
       </description>
    </wizard>
 </extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.CdoServerExampleWizard" 
			name="EMF Parsley CDO Server Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley CDO Server Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.CdoServerExampleWizard" 
			name="EMF Parsley CDO Server Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley CDO Server Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.CdoExampleWizard" 
			name="EMF Parsley CDO Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley CDO Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.CdoExampleWizard" 
			name="EMF Parsley CDO Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley CDO Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.RapTPExampleWizard" 
			name="EMF Parsley RAP Target Platform Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley RAP Target Platform Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.RapTPExampleWizard" 
			name="EMF Parsley RAP Target Platform Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley RAP Target Platform Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.RapCdoExampleWizard" 
			name="EMF Parsley RAP CDO Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley RAP CDO Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.RapCdoExampleWizard" 
			name="EMF Parsley RAP CDO Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley RAP CDO Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.RapExampleWizard" 
			name="EMF Parsley RAP Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/org.eclipse.emf.parsley.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley RAP Example</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.emf.parsley.examples.RapExampleWizard" 
			name="EMF Parsley RAP Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.emf.parsley.wizards/org.eclipse.emf.parsley.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>EMF Parsley RAP Example</description>
		</wizard>
	</extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.MailExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.model.zip"
               description="Mail Model"
               name="org.eclipse.emf.parsley.examples.mail.model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.rcp.zip"
               description="Mail RCP"
               name="org.eclipse.emf.parsley.examples.mail.rcp">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.accountsview.zip"
               description="Mail Accounts View"
               name="org.eclipse.emf.parsley.examples.mail.accountsview">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.mailsview.zip"
               description="Mail Emails View"
               name="org.eclipse.emf.parsley.examples.mail.mailsview">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.messageview.zip"
               description="Mail Message View"
               name="org.eclipse.emf.parsley.examples.mail.messageview">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.mail.product.feature.zip"
               description="Mail Product Feature"
               name="org.eclipse.emf.parsley.examples.mail.product.feature">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.FirstExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.examples.library.zip"
               description="Library Model"
               name="org.eclipse.emf.examples.library">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.examples.library.edit.zip"
               description="Library Edit Plugin"
               name="org.eclipse.emf.examples.library.edit">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.firstexample.zip"
               description="EMF Parsley First Example"
               name="org.eclipse.emf.parsley.examples.firstexample">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.ViewsExamples">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.views.zip"
               description="EMF Parsley Views Examples"
               name="org.eclipse.emf.parsley.examples.views">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.EditorsExamples">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.editors.zip"
               description="EMF Parsley Editors Examples"
               name="org.eclipse.emf.parsley.examples.editors">
         </projectDescriptor>
      </example>
   </extension>
	<extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.E4ExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.eclipse4.zip"
               description="Eclipse 4 Application and Launch"
               name="org.eclipse.emf.parsley.examples.eclipse4">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.eclipse4.parsleypart.zip"
               description="Eclipse 4 View"
               name="org.eclipse.emf.parsley.examples.eclipse4.parsleypart">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.eclipse4.product.feature.zip"
               description="Eclipse 4 Product"
               name="org.eclipse.emf.parsley.examples.eclipse4.product.feature">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.CdoServerExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.server.zip"
               description="EMF Parsley CDO Server Example"
               name="org.eclipse.emf.parsley.examples.cdo.server">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.CdoExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.model.zip"
               description="EMF Parsley CDO Model Example"
               name="org.eclipse.emf.parsley.examples.cdo.model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.rcp.zip"
               description="EMF Parsley CDO Rcp Example"
               name="org.eclipse.emf.parsley.examples.cdo.rcp">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.treeform.zip"
               description="EMF Parsley CDO TreeForm Example"
               name="org.eclipse.emf.parsley.examples.cdo.treeform">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.product.feature.zip"
               description="EMF Parsley CDO Product Feature Example"
               name="org.eclipse.emf.parsley.examples.cdo.product.feature">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.RapTPExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.rap.targetplatform.zip"
               description="EMF Parsley RAP Target Platform Example"
               name="org.eclipse.emf.parsley.examples.rap.targetplatform">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.RapCdoExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.model.zip"
               description="EMF Parsley CDO Model Example"
               name="org.eclipse.emf.parsley.examples.cdo.model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.rap.zip"
               description="EMF Parsley RAP CDO Example"
               name="org.eclipse.emf.parsley.examples.cdo.rap">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.cdo.treeform.zip"
               description="EMF Parsley CDO TreeForm Example"
               name="org.eclipse.emf.parsley.examples.cdo.treeform">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="org.eclipse.emf.parsley.examples.RapExampleWizard">
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.rap.model.zip"
               description="EMF Parsley RAP Model Example"
               name="org.eclipse.emf.parsley.examples.rap.model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/org.eclipse.emf.parsley.examples.rap.ui.zip"
               description="EMF Parsley RAP Ui Example"
               name="org.eclipse.emf.parsley.examples.rap.ui">
         </projectDescriptor>
      </example>
   </extension>
</plugin>
