<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
    <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.parsley"
            class="org.eclipse.emf.parsley.examples.views.EmfParsleyExamplesViewsExecutableExtensionFactory:org.eclipse.emf.parsley.views.OnSelectionTreeView"
            icon="icons/view.jpg"
            id="org.eclipse.emf.parsley.emftreeview"
            name="Emf Tree View"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="org.eclipse.emf.parsley.examples.views.EmfParsleyExamplesViewsExecutableExtensionFactory:org.eclipse.emf.parsley.views.OnSelectionListView"
            icon="icons/view.jpg"
            id="org.eclipse.emf.parsley.emflistview"
            name="Emf List View"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="org.eclipse.emf.parsley.examples.views.EmfParsleyExamplesViewsExecutableExtensionFactory:org.eclipse.emf.parsley.views.OnSelectionFormView"
            icon="icons/view.jpg"
            id="org.eclipse.emf.parsley.formview"
            name="Emf Form View"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="org.eclipse.emf.parsley.examples.views.EmfParsleyExamplesViewsExecutableExtensionFactory:org.eclipse.emf.parsley.views.OnSelectionReadOnlyFormView"
            icon="icons/view.jpg"
            id="org.eclipse.emf.parsley.readonlyformview"
            name="Emf Read Only Form View"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="org.eclipse.emf.parsley.examples.views.EmfParsleyExamplesViewsExecutableExtensionFactory:org.eclipse.emf.parsley.views.OnSelectionTreeFormView"
            icon="icons/view.jpg"
            id="org.eclipse.emf.parsley.treeformview"
            name="Emf Tree Form View"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emf.parsley"
            class="org.eclipse.emf.parsley.examples.views.EmfParsleyExamplesViewsExecutableExtensionFactory:org.eclipse.emf.parsley.views.OnSelectionTableFormView"
            icon="icons/view.jpg"
            id="org.eclipse.emf.parsley.tableformview"
            name="Emf Table Form View"
            restorable="true">
      </view>
      <category
            id="org.eclipse.emf.parsley"
            name="Emf Parsley">
      </category>
   </extension>

</plugin>
