<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.parsley.examples.library.ExecutableExtensionFactory:org.eclipse.emf.parsley.editors.EmfTreeEditor"
            contributorClass="org.eclipse.emf.parsley.editors.EmfParsleyEditorActionBarContributor"
            default="false"
            id="org.eclipse.emf.parsley.examples.library.treeEditor"
            name="Custom Library Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
      <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.emf.parsley.examples.library.ExecutableExtensionFactory:org.eclipse.emf.parsley.views.OnSelectionFormView"
            id="org.eclipse.emf.parsley.examples.library.formview"
            name="Custom Form View"
            restorable="true">
      </view>
            <view
            class="org.eclipse.emf.parsley.examples.library.ExecutableExtensionFactory:org.eclipse.emf.parsley.examples.views.OnSelectionShowAllTableView"
            id="org.eclipse.emf.parsley.examples.library.tableview"
            name="Custom Show All Table View"
            restorable="true">
      </view>
      <view
            class="org.eclipse.emf.parsley.examples.library.ExecutableExtensionFactory:org.eclipse.emf.parsley.examples.views.TreeFormView"
            id="org.eclipse.emf.parsley.examples.library.treeformview"
            name="Custom Tree Form"
            restorable="true">
      </view>
   </extension>

</plugin>
