<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.parsley.tests.factories.NoMouseEventExecutableExtensionFactory:org.eclipse.emf.parsley.editors.EmfTreeEditor"
            contributorClass="org.eclipse.emf.parsley.tests.factories.NoMouseEventExecutableExtensionFactory:org.eclipse.emf.parsley.editors.EmfParsleyEditorActionBarContributor"
            default="false"
            id="org.eclipse.emf.parsley.noMouseEvents"
            name="EMF Tree Editor No Mouse Events">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
   
   	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.parsley.tests.factories.CustomLabelExecutableExtensionFactory:org.eclipse.emf.parsley.editors.EmfTreeEditor"
            contributorClass="org.eclipse.emf.parsley.tests.factories.CustomLabelExecutableExtensionFactory:org.eclipse.emf.parsley.editors.EmfParsleyEditorActionBarContributor"
            default="false"
            id="org.eclipse.emf.parsley.customLabel"
            name="EMF Tree Editor Custom Label">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             category="org.eclipse.emf.parsley"
             class="org.eclipse.emf.parsley.tests.factories.EmfParsleyTestsExecutableExtensionFactory:org.eclipse.emf.parsley.tests.views.LibraryEmfView"
             id="org.eclipse.emf.parsley.tests.views.libraryview"
             name="LibraryEmfView"
             restorable="true">
       </view>
       <view
             category="org.eclipse.emf.parsley"
             class="org.eclipse.emf.parsley.tests.factories.CustomLabelExecutableExtensionFactory:org.eclipse.emf.parsley.tests.views.LibraryEmfView"
             id="org.eclipse.emf.parsley.tests.views.libraryviewcustom"
             name="LibraryEmfView Custom Label"
             restorable="true">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="org.eclipse.emf.parsley.tests.factories.CustomLabelExecutableExtensionFactory:org.eclipse.emf.parsley.tests.editors.TestEditor"
             contributorClass="org.eclipse.emf.parsley.tests.factories.CustomLabelExecutableExtensionFactory:org.eclipse.emf.parsley.editors.EmfParsleyEditorActionBarContributor"
             default="false"
             id="org.eclipse.emf.parsley.customLabel"
             name="EMF Tree Editor Derived">
          <contentTypeBinding
                contentTypeId="org.eclipse.emf.ecore.xmi">
          </contentTypeBinding>
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="org.eclipse.emf.parsley.editors.EmfParsleyEditorsExecutableExtensionFactory:org.eclipse.emf.parsley.editors.EmfTreeEditor"
             contributorClass="org.eclipse.emf.parsley.editors.EmfParsleyEditorsExecutableExtensionFactory:org.eclipse.emf.parsley.editors.EmfParsleyEditorActionBarContributor"
             default="false"
             extensions="statemachine"
             id="org.eclipse.emf.parsley.statemachine"
             name="EMF Tree Editor Statemachine">
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="org.eclipse.emf.parsley.tests.factories.CustomLibraryExecutableExtensionFactory:org.eclipse.emf.parsley.tests.editors.TestEditor"
             contributorClass="org.eclipse.emf.parsley.tests.factories.CustomLibraryExecutableExtensionFactory:org.eclipse.emf.parsley.editors.EmfParsleyEditorActionBarContributor"
             default="false"
             extensions="extlibrary"
             id="org.eclipse.emf.parsley.customLibrary"
             name="EMF Custom Library Editor">
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             category="org.eclipse.emf.parsley"
             class="org.eclipse.emf.parsley.tests.factories.CustomLibraryExecutableExtensionFactory:org.eclipse.emf.parsley.views.OnSelectionFormView"
             id="org.eclipse.emf.parsley.tests.views.librarydetailviewcustom"
             name="Library Emf Detail View"
             restorable="true">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             category="org.eclipse.emf.parsley"
             class="org.eclipse.emf.parsley.tests.factories.CustomLibraryExecutableExtensionFactory:org.eclipse.emf.parsley.tests.tables.LibraryTestTableView"
             id="org.eclipse.emf.parsley.tests.views.librarytabletest"
             name="Library Test Table"
             restorable="true">
       </view>
    </extension>
        <extension
          point="org.eclipse.ui.views">
       <view
             category="org.eclipse.emf.parsley"
             class="org.eclipse.emf.parsley.tests.factories.CustomLibraryExecutableExtensionFactory:org.eclipse.emf.parsley.tests.views.TestSaveableResourceTreeFormView"
             id="org.eclipse.emf.parsley.tests.views.testsaveableresourcetreeformview"
             name="Library Test Saveable Resource Tree Form View"
             restorable="true">
       </view>
       <view
             category="org.eclipse.emf.parsley"
             class="org.eclipse.emf.parsley.tests.factories.CustomLibraryExecutableExtensionFactory:org.eclipse.emf.parsley.tests.views.TestSaveableResourceTableFormView"
             id="org.eclipse.emf.parsley.tests.views.testsaveableresourcetableformview"
             name="Library Test Saveable Resource Table Form View"
             restorable="true">
       </view>
       <view
             category="org.eclipse.emf.parsley"
             class="org.eclipse.emf.parsley.tests.factories.CustomLibraryExecutableExtensionFactory:org.eclipse.emf.parsley.tests.views.TestSaveableResourceTableView"
             id="org.eclipse.emf.parsley.tests.views.testsaveabletableview"
             name="Library Test Saveable Table View"
             restorable="true">
       </view>
       <view
             category="org.eclipse.emf.parsley"
             class="org.eclipse.emf.parsley.tests.factories.CustomLibraryExecutableExtensionFactory:org.eclipse.emf.parsley.tests.views.TestSaveableTreeView"
             id="org.eclipse.emf.parsley.tests.views.testsaveabletreeview"
             name="Library Test Saveable Tree View"
             restorable="true">
       </view>
       <view
             category="org.eclipse.emf.parsley"
             class="org.eclipse.emf.parsley.tests.factories.CustomLibraryExecutableExtensionFactory:org.eclipse.emf.parsley.tests.views.TestOnSelectionLibraryBooksTableView"
             id="org.eclipse.emf.parsley.tests.views.librarybookstableview"
             name="Library Books Table View"
             restorable="true">
       </view>
       <view
             category="org.eclipse.emf.parsley"
             class="org.eclipse.emf.parsley.tests.factories.CustomContentProviderLibraryExecutableExtensionFactory:org.eclipse.emf.parsley.tests.views.TestSaveableTreeView2"
             id="org.eclipse.emf.parsley.tests.views.testsaveabletreeviewcontentprovider"
             name="Library Tree View With Custom Content Provider"
             restorable="true">
       </view>
       <view
             category="org.eclipse.emf.parsley"
             class="org.eclipse.emf.parsley.tests.factories.resourcelistening.ResourceListeningLibraryExecutableExtensionFactory:org.eclipse.emf.parsley.tests.views.TestSaveableTreeView"
             id="org.eclipse.emf.parsley.tests.views.testresourcelisteningtreeformview"
             name="Library Test Rescource Listening Tree Form View"
             restorable="true">
       </view>
       <view
             category="org.eclipse.emf.parsley"
             class="org.eclipse.emf.parsley.tests.factories.editabletable.EditableTableLibraryExecutableExtensionFactory:org.eclipse.emf.parsley.tests.views.TestSaveableResourceTableView"
             id="org.eclipse.emf.parsley.tests.views.testeditabletableview"
             name="Library Test Editable Table View"
             restorable="true">
       </view>
    </extension>
</plugin>
