<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.wst.common.project.facet.core.facets">

  <category
        id="org.eclipse.emf.parsley.web.tools.category">
     <label>
        EMF Parsley Web
     </label>
  </category>

  <project-facet id="parsleyweb.core">
    <label>EMF Parsley Web Server</label>
    <description>
      Enables generation of EMF Parsley server.
    </description>
    <member
          category="org.eclipse.emf.parsley.web.tools.category">
    </member>
  </project-facet>

  <project-facet id="parsleyweb.ui.angularjs">
    <label>UI AngularJS client</label>
    <description>
      Enables generation of AngularJS UI.
    </description>
    <member
          category="org.eclipse.emf.parsley.web.tools.category">
    </member>
  </project-facet>

  <project-facet-version
        facet="parsleyweb.core"
        version="0.7">
     <constraint>
      <requires facet="jst.web"/>
    </constraint>
     <action
           id="parsleyweb.core.install"
           type="install">
	    <delegate
	          class="org.eclipse.emf.parsley.web.tools.ParsleyWebFacetInstallDelegate">
	    </delegate>
     <config-factory
           class="org.eclipse.emf.parsley.web.tools.ParsleyWebFacetInstallConfig$Factory">
     </config-factory>
     </action>
  </project-facet-version>

  <project-facet-version
        facet="parsleyweb.ui.angularjs"
        version="0.7">
     <constraint>
      <requires facet="jst.web"/>
    </constraint>
     <action
           id="parsleyweb.ui.angularjs"
           type="install">
        <delegate
              class="org.eclipse.emf.parsley.web.tools.ui.angularjs.ParsleyWebFacetUiAngularDelegate">
        </delegate>
     </action>
  </project-facet-version>
  
</extension>

<extension
      point="org.eclipse.wst.common.project.facet.ui.images">
   <image
         category="org.eclipse.emf.parsley.web.tools.category"
         path="icons/share16.png">
   </image>
</extension>
<extension
      point="org.eclipse.wst.common.project.facet.ui.wizardPages">
   <wizard-pages
         action="parsleyweb.core.install">
      <page
            class="org.eclipse.emf.parsley.web.tools.ParsleyWebFacetInstallPage">
      </page>
   </wizard-pages>
</extension>
<extension
      point="org.eclipse.wst.common.project.facet.core.runtimes">
   <supported>
      <facet
            id="parsleyweb.core">
      </facet>
      <facet
            id="parsleyweb.ui.angularjs">
      </facet>
      <runtime-component
            any="true">
      </runtime-component>
   </supported>
</extension>

</plugin>
