<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://model/1.0"
            class="org.eclipse.emf.parsley.examples.rap.model.ModelPackage"
            genModel="model/Model.genmodel"/>
   </extension>

</plugin>
